# CHP 1

In [1]:
print('Hello Python')

Hello Python

# CHP 2

In [2]:
name = 'Sohaib'
print(name)

Sohaib

In [11]:
const a
a = 5

SyntaxError: invalid syntax (<ipython-input-11-b0ba4bb8adbf>, line 1)

In [18]:
f_name ="Muhammad Sohaib"
print(type(f_name))
num=5
f_name=50
print(type(f_name))

<class 'str'>
<class 'int'>

# CHP 3

In [19]:
x , y , z = 'Hello','World','Python'
print(x,y,z)

Hello World Python

In [20]:
a = 'Soahib'
b = a
print(a)
print(b)

Soahib
Soahib

In [21]:
a = 'ada'
print(a)
print(b)

ada
Soahib

In [22]:
a = 25
type(a)

int

In [23]:
a = '25'
print(type(a))

<class 'str'>

In [24]:
mangoes = 10

In [25]:
print(mangoes+10)
mangoes_sum = mangoes+10
print(mangoes_sum)

20
20

In [26]:
a=100
b=10.5
sum = a-b
print(a)
print(b)
print(sum)

100
10.5
89.5

In [27]:
print(type(a))
print(type(b))
print(type(sum))

<class 'int'>
<class 'float'>
<class 'float'>

In [33]:
c = "abc"
add = str(a)+c 
print(add)
print(type(add))

100abc
<class 'str'>

In [31]:
print("Sohaib\n\nAkram")

Sohaib

Akram

# CHP 4

In [35]:
num = 10
num_another = 1.5
sum_of_num = num + num_another 
print(sum_of_num)
print(type(sum_of_num))

11.5
<class 'float'>

# CHP 5

In [36]:
class = 10

SyntaxError: invalid syntax (<ipython-input-36-b9a6d0fe59a9>, line 1)

# CHP 6

In [38]:
x = "There are "
y = "100"
z = " students in class"
print(x,y,z)
w = x + str(y) + z
print(w)

There are  100  students in class
There are 100 students in class

In [39]:
x = "There is a student's meeting today"
print(x)

There is a student's meeting today

In [40]:
mango = 10
apple = 50
print(mango,"\n",apple)

10
 50

In [43]:
x = "We have (mango + apple = "
y = mango + apple
z = ") foods in basket."
s=x+str(y)+z
print(s)

We have (mango + apple = 60) foods in basket.

In [44]:
print(x,y,z)

We have (mango + apple =  60 ) foods in basket.

# CHP 6

In [52]:
a = 10
b = 3
x = a % b
print(x)

1

In [53]:
x += 1
print(x)

2

In [50]:
y = 10
y += 1
print(y)

11

In [54]:
x = 10
y = 20
y -= x
print(y)

10

# CHP 7

In [56]:
total_cost=1+3*4
print(total_cost)

13

In [57]:
total_cost=(1+3)*4
print(total_cost)

16

In [58]:
total_sum = ((1+3)*4)/5
print(total_sum)

3.2

# CHP 8

In [61]:
#Plus two strings or combining multiple string

# CHP 9

In [65]:
num = 100
if num == 100:
    print(num)
    print('Num is 100')
else:
    print('Num is not 100')

100
Num is 100

In [66]:
species = "cat"
if species == "cat":
    print('Animal cat is present')
else:
    print('No animal found')

Animal cat is present

# CHP 10

In [1]:
print("Give answer in yes or no\n\n")
age_required=18
age=int(input("Enter Your Age : "))
nic = input("Present NIC : ")
voter = input("Name present in Voter List : ")
if(age>=age_required):
    if(nic=="Yes" or nic=="yes"):
        if(voter=="Yes" or voter=="yes"):
            print("\n\nYou Can Cast Your Vote")
        elif(voter!="Yes" and voter!="No"):
            print("Error")
        else:
            print("\n\nYou can't cast your vote")
    else:
        print("\n\nYou can't cast your vote")
        
else:
    print("\n\nYou can't cast your vote")

Give answer in yes or no


Enter Your Age : 19
Present NIC : Yes
Name present in Voter List : yes


You Can Cast Your Vote

# CHP 11

In [2]:
i=eval(input("Input : "))
print(type(i))

Input : 18.6
<class 'float'>

# CHP 14

In [4]:
"""i=eval(input("Input : "))
print(type(i))"""
#COMMIT

'i=eval(input("Input : "))\nprint(type(i))'


# CHP 15

In [6]:
List_declearation=[1,"Bob","Now is"]
print(List_declearation[1])
type(List_declearation)

Bob

list

In [11]:
Check=[2,3,4,5,6,7]
3 in Check

True

In [12]:
numbers=list(range(1,100))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [13]:
even_numbers=list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [14]:
number=list(range(1,10))
number.append(11)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [15]:
cities=["Angilous","New York","#####","#####","#####"]
cities.insert(1,"Pakistan")
print(cities)

['Angilous', 'Pakistan', 'New York', '#####', '#####', '#####']

In [16]:
print(len(cities))

6

In [2]:
user=["user1","user2","user3"]
user.insert(5,'user2')
print(user)
print("user2" in user)

['user1', 'user2', 'user3', 'user2']
True

In [40]:
x = 'hello'
x.find('e')

1

# CHP 16

In [26]:
cities = ["Anhgilous","Las Vahus"]
city = ["New York"]
citie = cities + city
print(citie)

['Anhgilous', 'Las Vahus', 'New York']

# CHP 17

In [29]:
smaller_list = list(range(0,5))
smaller_list_number = smaller_list[2:5]
print(smaller_list_number)

[2, 3, 4]

# CHP 18

In [35]:
new_list = list(range(1,20))
print(new_list)
small_list = new_list[-11:-3]
print(small_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[9, 10, 11, 12, 13, 14, 15, 16]

In [36]:
new_list = list(range(1,100))
last_element = new_list[-1]
print(last_element)

99

In [37]:
New_List = ["email frank","call sarah"]
New_List.remove("call sarah")
print(New_List)

['email frank']

In [38]:
x = "This is slicing on string"
y = x[2:5]
print(y)

is

# CHP 19

In [2]:
tasks=["email frank","call sarah","meet with Zach"]
latest_task_accomplished=tasks.pop(1)

In [3]:
print(latest_task_accomplished)

call sarah

In [27]:
my_list_1=["Pen","Pencil","Cell Phone"]
purchased_list=[]
x=len(my_list_1)
for i in range(x):
    purchased = my_list_1.pop()
    purchased_list.append(purchased)
    

print(purchased_list)

['Cell Phone', 'Pencil', 'Pen']

# CHP 20

In [28]:
my_new_list = ["a","b","c","d"]
print(my_new_list)
new_list=my_new_list
print(new_list)
my_new_list.append("z")
print(new_list)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'z']

In [32]:
square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# CHP 21

In [33]:
combs=[(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]
print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

# CHP 20

In [35]:
#Imuteable
state_order_of_founded=("1","2","3")
print(state_order_of_founded)

('1', '2', '3')

In [37]:
dimentional = (250,20)
print(dimentional)

(250, 20)

In [43]:
#Unpacking
x = (1 , 2, 3)
a , b ,c = x 
print(a)

1

# CHP 21

In [47]:
clean_list = ["Karachi","Islamabad","Mir_pur"]
cleanest_city = "Karachi"
New_list = [members for members in clean_list if cleanest_city==members]
print(New_list)

['Karachi']